.noun-circle {
    width: 1rem;
    height: 1rem;
    border: solid green 2px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
}


.noun-name {
    border: solid black 2px;
    border-radius: 5px;
    padding: 0 0.25rem;
}