.verb-circle {
    width: 1rem;
    height: 1rem;
    border: solid black 2px;
    border-radius: 50%;
    background-color: blue;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
}

.verb-name {
    position: absolute;
    top: 50%;
    left: calc(100% + 1rem);
    transform: translateY(-50%);

    border: solid black 2px;
    border-radius: 5px;
    padding: 0 0.25rem;
}