.verb-circle {
    width: 0.5rem;
    height: 0.5rem;
    border: solid black 1px;
    border-radius: 50%;
    background-color: blue;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
}

.verb-name {
    position: absolute;
    top: 50%;
    left: calc(100% + 0.5rem);
    transform: translateY(-50%);

    font-size: 10px;
}