.adverb-circle {
    width: 0.5rem;
    height: 0.5rem;
    border: solid black 1px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
}

.adverb-name {
    font-size: 10px;
    border: solid black 1px;
    border-radius: 5px;
    padding: 0 0.25rem;
}