.circle {
    width: 100px;
    height: 100px;
    background-color: rgba(123, 123, 123, 0.5);
    border-radius: 50%;
    margin: 0.5rem;
    border: solid black 2px;
    position: relative;
    display: inline-block;
}