.small-circle {
    width: 10px;
    height: 10px;
    background-color: blue;
    border: solid black 1px;
    padding: 4px;
    border-radius: 50%;
    position: absolute;
    right: -12px;
    top: 44px;
}