header h1 {
    border: solid black 2px;
    padding: 0 1rem;
    border-radius: 25px;
    max-width: 20rem;
    margin: 0 auto;
}

.input-container {
    width: fit-content;
    margin: 1rem auto;
    text-align: left;
}

.input-container p {
    margin: 0;
}

.submitted-container {
    border: solid black 2px;
    border-radius: 25px;
    width: fit-content;
    padding: 0 1rem;
    margin: 1rem auto;
    text-align: left;
}

.submitted-container p {
    padding: 0;
    margin: 0;
}

.submitted-sentence {
    font-weight: bold;
    max-width: 20rem;
}

div .representation-heading {
    margin-bottom: 1rem;
}