header h1 {
    border: solid black 2px;
    padding: 0 1rem;
    border-radius: 25px;
    max-width: 20rem;
    margin: 0 auto;
}

ul {
    border: solid blue 2px;
    border-radius: 25px;
    padding: 0 1rem;
    padding-top: 0.25rem;
    width: fit-content;
    margin: 0 auto;
}

li {
    background-color: rgba(255, 255, 255, 0.2);
    border: solid black 2px;
    border-radius: 25px;
    padding: 0 1rem;
    margin-bottom: 0.25rem;
    width: fit-content;
    list-style: none;
}

.submitted-container {
    border: solid black 2px;
    border-radius: 25px;
    width: fit-content;
    padding: 0 1rem;
    margin: 1rem auto;
    text-align: left;
}

.submitted-container p {
    padding: 0;
    margin: 0;
}

.submitted-sentence {
    font-weight: bold;
}