header h1 {
    border-bottom: solid black 2px;
    padding: 1rem;
    max-width: 20rem;
    margin: 0 auto;
}

.input-container {
    width: fit-content;
    margin: 1rem auto;
    text-align: left;
}

.input-container p {
    margin: 0;
}

.submitted-container {
    border: solid black 2px;
    border-radius: 25px;
    width: fit-content;
    padding: 0 1rem;
    margin: 1rem auto;
    text-align: left;
}

.submitted-container p {
    padding: 0;
    margin: 0;
}

.submitted-sentence {
    font-weight: bold;
    max-width: 20rem;
}

div .representation-heading {
    margin-bottom: 1rem;
}

.visual-container {
    border: solid black 1px;
    width: fit-content;
    margin: 0 auto;
    padding: 1rem 3rem;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.1);
}

.submit-button {
    border: solid black 1px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.1);
    display: block;
    transition: background-color 0.25s
}

.submit-button:hover {
    cursor: pointer;
    color: white;
    background-color: rgb(50, 50, 50);
}