.clause-circle {
    position: relative;
    border: solid black 2px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.1);
    height: 10rem;
    width: 10rem;
    display: inline-block;
}