.verb-circle {
    width: 1rem;
    height: 1rem;
    border: solid blue 2px;
    border-radius: 50%;
    background-color: blue;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
}

.name {
    position: absolute;
    top: 50%;
    left: calc(100% + 0.6rem);
    transform: translateY(-50%);
}