.clause-container {
    border: solid black 2px;
    border-radius: 45px;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    width: fit-content;
    margin: 0.5rem;
    display: inline-block;
}

.noun {
    border: solid green 2px;
    border-radius: 2rem;
    background-color: rgba(0, 255, 0, 0.2);
    padding: 0 0.5rem;
    width: fit-content;
    margin: 0 auto;
}

.verb {
    border: solid blue 2px;
    border-radius: 2rem;
    background-color: rgba(0, 0, 255, 0.2);
    padding: 0 0.5rem;
    width: fit-content;
    margin: 0 auto;
}

.adverb {
    border: solid red 2px;
    border-radius: 2rem;
    background-color: rgba(255, 0, 0, 0.2);
    padding: 0 0.5rem;
    width: fit-content;
    margin: 0 auto;
}