#root {
    color: black;
    background-color: rgb(255, 39, 125);
    border: solid black 2px;
    border-radius: 45px;
    max-width: 1280px;
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
}