.noun-circle {
    width: 0.5rem;
    height: 0.5rem;
    border: solid black 1px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
}

.noun-name {
    font-size: 10px;
}